@for $x from 1 through 14 {

  .my-my-#{$x} {
    margin-top: ($x*1rem);
    margin-bottom: ($x*1rem);
  }
}

/* SCSS */




/* General */



@media (min-width: 992px)  {

.genie::after
{
  content: '';
  position: absolute;
  //display: block;
  width: 1251px;
  height: 980px;
  left: 11.7rem;
  //height: 40rem;
  z-index: -2;
  bottom: 0;
  top: -20rem;
  right: -50rem;
  background:url('../art/man-hero-img_2.jpg') no-repeat center center;
  clip-path: polygon(0 0, 100% 0, 100% 100%);
  background-size: cover;
  //background-repeat: no-repeat;
  background-position: 80px -240px;
  //image-rendering: auto;
  //transform: scale(0.8);


}

.genie::before
{
  content: '';
  position: absolute;
  display: block;
  width: 860px;
  height: 917.33px;
  left: 36.3rem;
  z-index: -1;
  bottom: 0;
  top: -16rem;
  right: -51rem;
  background:url('../art/marble texture-hero-img-2.jpg');
  clip-path: polygon(0 100%, 100% 0, 100% 100%);
  background-size: cover;
  background-position: cover;
  //transform: rotate(270deg);

}
.that-form::after
{
  content: '';
  position: absolute;
  display: block;
  width: 860px;
  height: 674px;
  z-index: -1;
  bottom: 0;
  top: 41.225rem;
  left: 36.28rem;
  right: -10rem;
  //background:url('../art/marble%20texture-hero-img.jpg');
  background-color:black;
  clip-path: polygon(0 0, 100% 0, 100% 100%);
  background-size: cover;
  //background-position: cover;
  //transform: rotate(90deg);

}

  .that-form::before
  {
    content: '';
    position: absolute;
    display: block;
    //width: 1711px;
    //height: 1469px;
    width: 1401px;
    height: 1240px;
    z-index: -2;
    bottom: 0;
    top: 52.85rem;
    left: -10rem;
    right: 0rem;
    background-color: #F9F9F9;
    //background-color: grey;

    background-size: cover;
    background-position: cover;
    clip-path: polygon(0 0, 0% 100%, 100% 100%);

  }
  .service-it::before
  {
    content: '';
    position: absolute;
    display: block;
    //width: 1711px;
    //height: 1469px;
    width: 1411px;
    height: 1400px;
    z-index: -2;
    bottom: 0;
    top: -6.8rem;
    left: -8.5rem;
    right: 0rem;
    background-color: #F9F9F9;
    //background-color: grey;
    clip-path: polygon(0 100%, 100% 0, 100% 100%);
  }
  .divvy::before
  {
    content: '';
    position: absolute;
    display: block;
    //width: 1711px;
    //height: 1469px;
    width: 1411px;
    height: 1400px;
    z-index: -50;
    bottom: 0;
    top: -45.85rem;
    left: -49.8rem;
    right: 0rem;
    background-color: #F9F9F9;
    //background-color: grey;
    clip-path: polygon(0 100%, 100% 100%, 0 0);
  }
}
.list-items{
  list-style-image: url(../art/done-24-px.png);
  margin-bottom: 40px;
}
body
{
  background-color: #F9F9F9;
}
main{

}

.padding-0{
  padding-right:0;
  padding-left:0;
}
.list-items-star{
  list-style-image: url(../art/star-24-px.png);
  margin-bottom: 40px;
}
/* Header */
.header-div
{
  //background-image: url(../art/man-hero-img.jpg) !important;
  //background-color: red;
  //background-repeat: no-repeat !important;
  //background-size: auto !important;
  //background-color: red !important;
  //background-position: center;
  //background-size: 300px 100px
}
#header-logo
{

  /*position: absolute;*/
  /*left: 40%;*/
}

#header-pic
{
  //position: absolute;
  //left:0;
  //right:0;
  /*margin-left:auto;*/
  /*margin-right:auto;*/
  //width: 100vw !important;
  clip-path: polygon(0 0, 100% 0, 100% 100%);
}
#header-pic-2
{
  position: absolute;
 right: 0;
  transform: rotate(90deg);
  clip-path: polygon(28% 0, 100% 0, 100% 72%);
}
.header-text-div
{
  margin-top: 10rem;
}
.img-hero
{
  //position: absolute;
  //right: -100%;
  //max-height: 90rem;
  //max-width: 5rem;
  width: 100%;
}
.needs-div
{
  margin-top: 5rem;
}
#logo-div
{
  /*position: relative;*/
  /*z-index: -1;*/
}
#pic-div
{

}
/* Text boxes */

.textbox-1
{
  margin-bottom: 5.8rem;
}
.text-1-head
{
  font-family: Arial;
  font-size: 3rem;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.4px;
  color: rgba(0, 0, 0, 0.87);
  margin-bottom: 12%;
}
.text-1-body
{
  font-size: 1.25rem;
  font-family: Arial;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.7;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 0.87);
}

.text-1-2-head
{
  font-family: Arial;
  font-size: 2.5rem;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.4px;
  color: rgba(0, 0, 0, 0.87);
  margin-bottom: 12%;
}
.text-1-2-body
{
  font-size: 1rem;
  font-family: Arial;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.7;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 0.87);
}
.text-1-2-3-head
{
  font-family: Arial;
  font-size: 1.75rem;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.4px;
  color: rgba(0, 0, 0, 0.87);
  margin-bottom: 12%;
}
.text-1-2-3-body
{
  font-size: 1rem;
  font-family: Arial;
  /*font-weight: 600;*/
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 0.87);
}
.text-1-2-3-4-head
{
  font-family: Arial;
  font-size: 1.75rem;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.4px;
  color: rgba(0, 0, 0, 0.87);
  margin-bottom: 12%;
}
.footer-neh
{
  background-color: #EBEBEB;
}
.text-1-2-3-4-body
{
  font-size: 0.75rem;
  font-family: Arial;
  /*font-weight: 600;*/
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 0.87);
}
.textbox-3
{
  box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.06);
  /*width: 335px;*/
  height: 100%;
  font-family: Arial;
  font-size: 1.25rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  /*text-align: center;*/
  color: rgba(0, 0, 0, 0.87);
  //background-color: #FFFFFF;
  /*margin: 10%;*/
  /*padding: 20%;*/
}
.work-man
{
  /*margin-top: 25%;*/
  /*margin-bottom: 25%;*/
}
.text-row
{
}

.text-5-body
{
  font-family: Arial ;
  font-size: 1.25rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  color: rgba(255, 255, 255, 0.87);
  margin-bottom: 20em;
}
.text-5-head
{
  font-family: Arial;
  font-size: 2.5rem;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgba(255, 255, 255, 0.87);
  margin-bottom: 3.5rem;
  margin-top: 10rem;
}

/* Forms */

#sign-up-form
{
  /*width: 584px;*/
  /*height: 556px;*/

  border-radius: 4px;
  box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.06);
  background-color: #ffffff;
}
.form-name-div
{
  border-bottom: 1px solid black;
  margin-bottom: 5%;
}
.Id-like-to-find-out {
  /*width: 296px;*/
  /*height: 32px;*/
  font-family: Arial;
  font-size: 2.5rem;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.41;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 0.87);
}

.form-input{
  /*background-color: #F9F9F9;*/
  font-family: Arial;
  font-size: 1rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  color: #000000;
  background-color: transparent;
  width: 100%
}
#info-form-button
{
  border: none;
  font-family: Arial;
  font-size: 1.5rem;
  font-weight: 200;
  //font-stretch: normal;
  //font-style: normal;
  //line-height: 1.21rem;
  //letter-spacing: 1.25px;
  color: rgba(255, 255, 255, 0.87);
  /*width: 144px;*/
  /*height: 32px;*/
  //border-radius: 4px;
  background-color: #ff3b30;
  margin-bottom: 5%;
}

.form-div
{
  margin-bottom: 20%;
  margin-top: 20%;
}

.textbox-3::after{


}

/* Page 2 */

.page-2-inner-div
{

  background-color: transparent;
  border-radius: 16px;
  box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.06);
}
.page-2-1-inner-div
{

  background-color: #FFFFFF;
  border-radius: 16px;
  box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.06);
}
.business-div
{
  /*width: 343px;*/
  /*height: 720px;*/
  border-radius: 16px;
  box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.06);
  background-color: #3A3A3A;
  background-image: url("../art/manstairs-section-img_1 (1).jpg");
  background-positon: cover;
  background-size: cover;
}
.business-div-4
{

  border-radius: 16px;
  box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.06);
  background-color: #3A3A3A;
  background-image: url("../art/manhappy-section-img_3.jpg");
  background-size: cover;
}
.background-div
{
  background-image: url(../art/grey_marble-bg.jpg);
  /*max-width: 100em;*/
  /*background-image: url("https://i.pinimg.com/474x/67/f7/9c/67f79c2f393ef84880b507429d24fa43.jpg");*/
  /*pading-top: 10%;*/
  /*padding-bottom : 10%;*/
}

.headline-3
{
  font-family: Arial;
  font-size: 2.5rem;;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 0.87);
  margin-bottom: 10%;
  margin-top: 10%;
}
.sub-heading
{
  font-family: Arial;
  font-size: 1.25rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  color: rgba(0, 0, 0, 0.87);
  margin-bottom: 10%;
}
.list-items, .list-items-star
{
  font-family: Arial;
  font-size: 1rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  color: rgba(0, 0, 0, 0.87);
}
.business-div-2
{
  /*width: 343px;*/
  /*height: 720px;*/
  border-radius: 16px;
  box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.06);
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  transform: scale(2);
  background-position-x: 145px;
  background-position-y: 100px;
}
.business-2-col
{
  border-radius: 16px;
  /*width: 343px;*/
  /*height: 720px;*/
}
.jumping-lady{
  /*width: 375px;*/
  background-image: url('../art/man-bg (1).jpg');
  background-position: center;
  background-size: cover;
  /*height: 2140px;*/
  margin-top: 15rem;
  background-color: rgba(0, 0, 0, 0.32);
  /*transform: scale(2.6);*/
  /*background-position-x: 45%;*/
  /*background-position-y: 150px;*/
  /*display:block;*/
  /*clear: both;*/

}

/* Page 3 */
.divvy
{
  border-radius: 4px;
  box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.06);
  background-color: #ffffff;
}
.rb-container
{
  margin-bottom: 5rem;
}
.rb-block
{
  /*width: 690px;*/
  height: 8rem;
  /*background-color: #333333;*/
  background-color: #4A4A4A;
}
.rb-block-2
{
  background-color: #333333;
  /*width: 100%;*/
  height: 100%;
  clip-path: polygon(100% 0, 0% 100%, 100% 100%);
  color: #FFFFFF;
  position: relative;
}
.rb-text
{
  position:absolute;
  bottom:10%;
  right: 10%;
  font-family: Arial;
  font-size: 2.1rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.04px;
  color: #ffffff;
}
.rb-text-body
{
  padding: 2rem;
  font-size: 1.35rem;
  font-family: Arial;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.7;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 0.87);
  border-radius: 4px;
  /*box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.06);*/
  /*background-color: #ffffff;*/
}

.rb-div
{
  background-color: #ffffff;
  box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.06);
}

.business-div-3
{
  /*width: 343px;*/
  /*height: 720px;*/
  border-radius: 16px;
  box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.06);
  background-image: url(../art/manandwoman-section-img_2.jpg);
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  min-height: 10.5rem;
  /*transform: scale(2);*/
  /*background-position-x: 145px;*/
  /*background-position-y: 100px;*/
}
.business-div-3-1
{
  /*width: 343px;*/
  /*height: 720px;*/
  border-radius: 16px;
  box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.06);
  background-image: url(../art/smiling-2362136_1920.jpg);
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  min-height: 10.5rem;
  /*transform: scale(2);*/
  /*background-position-x: 145px;*/
  /*background-position-y: 100px;*/
}
.business-div-3-2
{
  /*width: 343px;*/
  /*height: 720px;*/
  border-radius: 16px;
  box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.06);
  background-image: url(../art/business-3560916_1920.jpg);
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  min-height: 10.5rem;
  /*transform: scale(2);*/
  /*background-position-x: 145px;*/
  /*background-position-y: 100px;*/
}

.background-div-2
{
  background-image: url('../art/darkgrey_marble-bg (1).jpg');
}
@media (min-width: 89660px) {
  #header-pic-2
  {
    width: 200%;
    position: absolute;
    right: -9.5%;
    transform: rotate(90deg);
    clip-path: polygon(25% 0, 100% 0, 100% 75%);
    /*display: none;*/
  }
  .text-1-head
  {
    font-family: Arial;
    font-size: 3.5;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.4px;
    color: rgba(0, 0, 0, 0.87);
    margin-bottom: 10%;
    /*color: red;*/
  }

  .text-1-body
  {
    font-size: 3.5vw;
    font-family: Arial;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.7;
    letter-spacing: normal;
    color: rgba(0, 0, 0, 0.87);
  }
  #header-logo
  {
    /*height: 38%;*/
    /*max-height: 100px;*/
    height: 50%



  }
  #logo-div
  {
    /*min-height: 120px;*/
    /*background: purple;*/
    /*position: absolute;*/
  }
  #pic-div
  {
    /*min-height: 240px;*/
    /*background-color: orange;*/
  }
  .header-text-div
  {
    align-self: start;
    /*margin-top: 4%;*/
    /*position: absolute;*/
    /*left: 500px*/
    /*margin-right: -550px;*/
  }

  #blur-me > div {
    width:100px;
    height:100px;
    border:1px solid black;
    float:left;
    margin:5px;
  }
  #blur-me:hover > div:not(:hover) {
    filter: blur(10px);
  }

}
