/* SCSS */




/* General */

.list-items{
  list-style-image: url(../art/done-24-px.png);
  margin-bottom: 40px;
}
body
{
  background-color: #F9F9F9;
}
main{
}
.padding-0{
  padding-right:0;
  padding-left:0;
}
.list-items-star{
  list-style-image: url(../art/star-24-px.png);
  margin-bottom: 40px;
}
/* Header */
#header-div
{

}
#header-logo
{
  /*position: absolute;*/
  /*left: 40%;*/
}

#header-pic
{
  position: absolute;
  left:0;
  right:0;
  /*margin-left:auto;*/
  /*margin-right:auto;*/
  width: 100vw !important;
  clip-path: polygon(0 0, 100% 0, 100% 100%);
}
#header-pic-2
{
  position: absolute;
  right: -9.5%;
  transform: rotate(90deg);
  clip-path: polygon(28% 0, 100% 0, 100% 72%);

}
.header-text-div
{
  margin-top: 15rem;
}
.needs-div
{
  margin-top: 15rem;
}
#logo-div
{
  /*position: relative;*/
  /*z-index: -1;*/
}
#pic-div
{

}
/* Text boxes */

.textbox-1
{
  margin-bottom: 25%;
}
.text-1-head
{
  font-family: WhitneySSm;
  font-size: 3rem;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.4px;
  color: rgba(0, 0, 0, 0.87);
  margin-bottom: 12%;
}
.text-1-body
{
  font-size: 1.25rem;
  font-family: WhitneySSm-Semibold;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.7;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 0.87);
}

.text-1-2-head
{
  font-family: WhitneySSm;
  font-size: 2.5rem;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.4px;
  color: rgba(0, 0, 0, 0.87);
  margin-bottom: 12%;
}
.text-1-2-body
{
  font-size: 1rem;
  font-family: WhitneySSm-Semibold;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.7;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 0.87);
}
.text-1-2-3-head
{
  font-family: WhitneySSm;
  font-size: 1.75rem;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.4px;
  color: rgba(0, 0, 0, 0.87);
  margin-bottom: 12%;
}
.text-1-2-3-body
{
  font-size: 1rem;
  font-family: WhitneySSm-Semibold;
  /*font-weight: 600;*/
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 0.87);
}
.text-1-2-3-4-head
{
  font-family: WhitneySSm;
  font-size: 1.75rem;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.4px;
  color: rgba(0, 0, 0, 0.87);
  margin-bottom: 12%;
}
.footer-neh
{
  background-color: #EBEBEB;
}
.text-1-2-3-4-body
{
  font-size: 0.75rem;
  font-family: WhitneySSm-Semibold;
  /*font-weight: 600;*/
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 0.87);
}
.textbox-3
{
  box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.06);
  /*width: 335px;*/
  /*height: 524px;*/
  font-family: WhitneySSm;
  font-size: 1.25rem;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  /*text-align: center;*/
  color: rgba(0, 0, 0, 0.87);
  background-color: #FFFFFF;
  /*margin: 10%;*/
  /*padding: 20%;*/
}
.work-man
{
  /*margin-top: 25%;*/
  /*margin-bottom: 25%;*/
}
.text-row
{
}

.text-5-body
{
  font-family: Whitney SSm ;
  font-size: 1.25rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  color: rgba(255, 255, 255, 0.87);
  margin-bottom: 20em;
}
.text-5-head
{
  font-family: WhitneySSm;
  font-size: 2.5rem;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgba(255, 255, 255, 0.87);
  margin-bottom: 3.5rem;
  margin-top: 10rem;
}

/* Forms */

#sign-up-form
{
  /*width: 584px;*/
  /*height: 556px;*/

  border-radius: 4px;
  box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.06);
  background-color: #ffffff;
}
.form-name-div
{
  border-bottom: 1px solid black;
  margin-bottom: 5%;
}
.Id-like-to-find-out {
  /*width: 296px;*/
  /*height: 32px;*/
  font-family: WhitneySSm;
  font-size: 2.5rem;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.41;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 0.87);
}

.form-input{
  /*background-color: #F9F9F9;*/
  font-family: WhitneySSm;
  font-size: 1rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  color: #000000;
}
#info-form-button
{
  font-family: WhitneySSm;
  font-size: 1.5rem;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.21rem;
  letter-spacing: 1.25px;
  color: rgba(255, 255, 255, 0.87);
  /*width: 144px;*/
  /*height: 32px;*/
  border-radius: 4px;
  background-color: #ff3b30;
  margin-bottom: 5%;
}

.form-div
{
  margin-bottom: 20%;
  margin-top: 20%;
}

.textbox-3::after{


}

/* Page 2 */

.page-2-inner-div
{

  background-color: #FFFFFF;
  border-radius: 16px;
  box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.06);
}
.business-div
{
  /*width: 343px;*/
  /*height: 720px;*/
  border-radius: 16px;
  box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.06);
  background-color: #3A3A3A;
  background-image: url(../art/manhappy-section-img_3.jpg);
  background-positon: cover;
  background-size: cover;
}
.business-div-4
{

  border-radius: 16px;
  box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.06);
  background-color: #3A3A3A;
  background-image: url(../art/manstairs-section-img_1.jpg);
  background-size: cover;
}
.background-div
{
  background-image: url(../art/marble-texture.jpg);
  /*max-width: 100em;*/
  /*background-image: url("https://i.pinimg.com/474x/67/f7/9c/67f79c2f393ef84880b507429d24fa43.jpg");*/
  /*pading-top: 10%;*/
  /*padding-bottom : 10%;*/
}

.headline-3
{
  font-family: WhitneySSm;
  font-size: 2.5rem;;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 0.87);
  margin-bottom: 10%;
  margin-top: 10%;
}
.sub-heading
{
  font-family: WhitneySSm;
  font-size: 1.25rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  color: rgba(0, 0, 0, 0.87);
  margin-bottom: 10%;
}
.list-items, .list-items-star
{
  font-family: WhitneySSm;
  font-size: 1rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  color: rgba(0, 0, 0, 0.87);
}
.business-div-2
{
  /*width: 343px;*/
  /*height: 720px;*/
  border-radius: 16px;
  box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.06);
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  transform: scale(2);
  background-position-x: 145px;
  background-position-y: 100px;
}
.business-2-col
{
  border-radius: 16px;
  /*width: 343px;*/
  /*height: 720px;*/
}
.jumping-lady{
  /*width: 375px;*/
  background-image: url(../art/success-bg.jpg);
  background-position: center;
  background-size: cover;
  /*height: 2140px;*/
  margin-top: 15rem;
  background-color: rgba(0, 0, 0, 0.32);
  /*transform: scale(2.6);*/
  /*background-position-x: 45%;*/
  /*background-position-y: 150px;*/
  /*display:block;*/
  /*clear: both;*/
}

/* Page 3 */

.rb-container
{
  margin-bottom: 25%;
}
.rb-block
{
  /*width: 690px;*/
  height: 8rem;
  /*background-color: #333333;*/
  background-color: #FF3B30;
}
.rb-block-2
{
  background-color: #333333;
  /*width: 100%;*/
  height: 100%;
  clip-path: polygon(100% 0, 0% 100%, 100% 100%);
  color: #FFFFFF;
  position: relative;
}
.rb-text
{
  position:absolute;
  bottom:10%;
  right: 10%;
  font-family: WhitneySSm;
  font-size: 2.1rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.04px;
  color: #ffffff;
}
.rb-text-body
{
  padding: 20%;
  font-size: 1.25rem;
  font-family: WhitneySSm-Semibold;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.7;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 0.87);
  border-radius: 4px;
  /*box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.06);*/
  /*background-color: #ffffff;*/
}

.rb-div
{
  background-color: #ffffff;
  box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.06);
}

.business-div-3
{
  /*width: 343px;*/
  /*height: 720px;*/
  border-radius: 16px;
  box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.06);
  background-image: url(../art/manandwoman-section-img_2.jpg);
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  min-height: 10.5rem;
  /*transform: scale(2);*/
  /*background-position-x: 145px;*/
  /*background-position-y: 100px;*/
}

.background-div-2
{
  background-image: url(../art/marble-texture.jpg);
}
@media (min-width: 89660px) {
  #header-pic-2
  {
    width: 200%;
    position: absolute;
    right: -9.5%;
    transform: rotate(90deg);
    clip-path: polygon(25% 0, 100% 0, 100% 75%);
    /*display: none;*/
  }
  .text-1-head
  {
    font-family: WhitneySSm;
    font-size: 3.5;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.4px;
    color: rgba(0, 0, 0, 0.87);
    margin-bottom: 10%;
    /*color: red;*/
  }

  .text-1-body
  {
    font-size: 3.5vw;
    font-family: WhitneySSm-Semibold;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.7;
    letter-spacing: normal;
    color: rgba(0, 0, 0, 0.87);
  }
  #header-logo
  {
    /*height: 38%;*/
    /*max-height: 100px;*/
    height: 50%



  }
  #logo-div
  {
    /*min-height: 120px;*/
    /*background: purple;*/
    /*position: absolute;*/
  }
  #pic-div
  {
    /*min-height: 240px;*/
    /*background-color: orange;*/
  }
  .header-text-div
  {
    align-self: start;
    /*margin-top: 4%;*/
    /*position: absolute;*/
    /*left: 500px*/
    /*margin-right: -550px;*/
  }

}
